#back-end

back-end/__pycache__/
back-end/.pytest_cache
back-end/src/__pycache__/
back-end/test/__pycache__/
back-end/.coverage

#front-end

# dependencies
front-end/node_modules
front-end/.pnp
front-end/.pnp.js

# testing
front-end/coverage

# production
front-end/build

# misc
front-end/.DS_Store
front-end/.env.local
front-end/.env.development.local
front-end/.env.test.local
front-end/.env.production.local

front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*


#predict_api

predict_api/__pycache__/
predict_api/.pytest_cache
predict_api/src/__pycache__/
predict_api/test/__pycache__/
predict_api/.coverage